/**
* Headers
*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  padding: 0 0 8px;
  font-family: $font-heading;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1;
}

h1, .h1 {
  @include responsive-font(3vw, $--step-up-1, $--step-up-5);
}
h2, .h2 {
  @include responsive-font(3vw, $--baseline, $--step-up-4);
}
h3, .h3 {
  @include responsive-font(3vw, $--step-down-1, $--step-up-3);
}
h4, .h4 {
  @include responsive-font(3vw, $--step-down-2, $--step-up-2);
}
h5, .h5 {
  @include responsive-font(3vw, $--step-down-2, $--step-up-1);
}
h6, .h6 {
  @include responsive-font(3vw, $--step-down-2, $--baseline);
}


/**
* Paragraph
*/

p {
  margin: 0 0 27px;
  font-size: 1.5em;
  font-family: $font-body;
  line-height: 1;
}

i {
  font-family: $font-italic;
}